* {-moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #FAFAFA;
    margin: 0 auto; 
    padding: 0; 
}

#navbar li{
    float: right;
    padding: 12px 20px;
    transform: scale(1);
}
#navbar {
    margin: 0 auto;
    width: 90%;
    height: 65px;
    list-style-type: none;
    opacity:0;
    transition:all 1.5s ease;

}
#navbar a {
    text-decoration: none;
    color: #2c3e50;
    font-size: 1.5em;
    padding: 10px;
    font-family: 'Alata', sans-serif;
    
}
#navbar li:hover{
    transform: scale(1.10);
    transition: 100ms;
}
.boy{
    width: 200px;
    display: flex;
    margin: 3% auto;
    opacity:0;
    transition:all 2s ease;
}
#h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center; 
    font-weight: normal; 
    color: #2c3e50;
    opacity:0;
    transition:all 4s ease;
}
#arrow{
    margin: 5% auto;
    display: flex;
    width: 35px;
    cursor: pointer;
    animation: bounce 0.5s ease infinite alternate;
    opacity:0;
    transition:all 4s ease;
    
}
@keyframes bounce{
    from {transform: translateY(0);}
    to   {transform: translateY(-20px);}
}
#projet{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Alata', sans-serif;
    color: #2c3e50;
    width: 100%;
    height: 100%;
}
.slide{
     float: left;
}
.slides{
    width: calc(600px * 3);
    animation: glisse 10s infinite;
}
.slider{
    width: 600px;
    overflow: hidden;
    margin: 10px auto;
    box-shadow: 0px 0px 18px -3px rgba(44,62,80,0.79);
}
.img_poc{
    width: 600px;
    float: left;
}
@keyframes glisse{
    0%{
        transform: translateX(0);   
    }
    10%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(-600px);
    }
    43%{
        transform: translateX(-600px);
    }
    66%{
        transform: translateX(-1200px);
    }
    76%{
        transform: translateX(-1200px);
    }
    90%{
         transform: translateX(-1200px);
    }
    100%{
        transform: translateX(0);
   }
}
#description_slider{
    width: 500px;
    margin: 30px auto;
    text-transform: none;
}
.projet1{
    width: 800px;
    height: 100%;
    background: white;
    margin: 30px auto;
    box-shadow: 0px 0px 18px -3px rgba(44,62,80,0.79);
    border-radius: 50px;
    transform: scale(1);
}
a{
    text-decoration: none;
    color: #2c3e50;
}
.projet1:hover{
    transform: scale(1.02);
    transition: 200ms;
}
.bientot{
    width: 800px;
    height: 500px;
    background: white;
    margin: 100px auto;
    box-shadow: 0px 0px 18px -3px rgba(44,62,80,0.79);
    border-radius: 50px;
    transform: scale(1);
}
.bientot:hover{
    transform: scale(1.02);
    transition: 200ms;
}
.img_bientot{
    width: 50%;
    margin-top: 90px;
}
.me{
    margin: 100px auto;
    font-family: 'Alata', sans-serif;
}
.me h1{
    text-transform: uppercase;
    color: #2c3e50 ;
    text-align: center;
}
#bouton{
    display: flex;
    margin: 200px auto;
    color: white;
    font-family: 'Alata', sans-serif;
    background-color: #f04d23;
    border: none;
    padding: 15px 15px;
    border-radius: 100px;
    transform: scale(1);
    cursor: pointer;
}
#bouton:hover{
    transform: scale(1.10);
    transition: 200ms;
}
.proposdemoi{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
}