body{
    font-family: 'Roboto', sans-serif;
}
h1{
    text-transform: uppercase;
    text-align: center;
}
.tab{
    width: 120px;
    height: 120px;
    border: 3px solid black;
    font-size: 7em;
    padding: 0;
    display: inline-flex;
    text-align: center;
}
.main{
    width: 400px;
    height: 400px;
    margin: auto;
}
.choix_perso{
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
}
#croix, #rond{
    width: 70px;
    height: 50px;
    font-size: 1em;
    border-radius: 30px;
    border: none;
    outline: none;
    transform: scale(1);
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
}
#refresh{
    width: 100px;
    height: 50px;
    font-size: 1em;
    border-radius: 10px;
    border: none;
    outline: none;
    margin: 50px auto;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #e74c3c;
    color: white;
    display: none;
}
#croix:hover, #rond:hover{
    transform: scale(1.2);
    transition: 200ms;
}
#rond:focus, #croix:focus{
    background-color: #e74c3c;
    color: white;
}
@keyframes bounce{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
